@charset "utf-8";

    /*1920이상 start*/
    #commonTopHeader {
        display: grid;
        grid-template-columns: 172px 1fr;
        align-items: center;
        height:40px;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
        position: relative;
        z-index: 9;
    }

    #commonTopHeader .mainTopMenu ul li{
        width:126px;
    }

    #commonTopHeader #mainInfo form {
        position: relative;
        width:36px;
        float: right;
        margin-right: 16px;
        cursor: pointer;
    }

    #commonTopHeader #mainInfo form object img{
        width:34px;
    }
    /*1920이상 end*/

/* @media all and (min-width:1920px){} */
/*1920이상 end*/
