<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>방화벽 로그관리</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <link href="{{ url_for('static', filename = 'css/root.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonHeader.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonContent.css') }}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#foo-table thead td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });

            $('#foo-table').DataTable({
             "pageLength":20,
             "destroy":true,
             "order":[2,'desc'],
                initComplete: function () {
            // Apply the search
            this.api()
                .columns('.showMenu')
                .every(function () {
                    var that = this;
                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
        },
        });
        });
    </script>
</head>
<body>
    <div id="commonTopHeader">
        <div id="mainTopLogo">
            <a href="">
                <img src="" alt=""/>
            </a>
        </div>

        <div class="mainTopMenu" id="mainTopMenu">
            <ul>
                <li><button type="button" data-keyword="OneHundred" onClick="location.href='../logman'">셀렉트검색</button></li>
                <li><button type="button" data-keyword="OneThous" onClick="location.href='../stlogman'">텍스트검색</button></li>
                <li><button type="button" data-keyword="TenThous" onClick="location.href='../alllogman'">장기간검색</button></li>
                <li><button type="button" data-keyword="LOGOUT" onClick="location.href='../logout'">로그아웃</button></li>
            </ul>
        </div>

        <div id="mainInfo"></div>
    </div>

    <div id="commonBodyContents">
        <div id="commonSideMenu">
            <div class="sideMenu" id="sideMenu">
                <ul id="business">
                    <li>
                        <a href="/static">
                            <!-- <img src="../images/common/commonMenu/mainHomeIcon.png" id="mainHomeIcon" /> -->
                            {%  if session["userName"] %}
                            <span>{{ session["userName"]}}으로 로그인중</span>
                            {%  endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/business/notice">
                            <!-- <img src="../images/common/commonMenu/mainNoticeIcon.png" id="mainNoticeIcon" /> -->
                            <span>메뉴</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <!-- <img src="../images/common/commonMenu/mainSchedIcon.png" id="mainSchedIcon" /> -->
                            <span>메뉴</span>
                            <span id="slideSpan">+</span>
                        </a>
                        <ul id="panel">
                            <li><a href="/business/schedule">하위메뉴</a></li>
                            <li><a href="/business/workreport">하위메뉴</a></li>
                            <li><a href="/business/workjournal">하위메뉴</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
                <div>
                   <table id="foo-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>

                            <tr>
                            <td>D001</td>
                            <td>D002</td>
                            <td class = "showMenu">D003</td>
                            <td class = "showMenu">D004</td>
                            <td class = "showMenu">D005</td>
                            <td class = "showMenu">D006</td>
                            <td>D007</td>
                            <td class = "showMenu">D008</td>
                            <td class = "showMenu">D009</td>
                            <td class = "showMenu">D010</td>
                            <td class = "showMenu">D012</td>
                            <td class = "showMenu">D013</td>
                            <td class = "showMenu">D014</td>
                            <td class = "showMenu">D015</td>
                            <td class = "showMenu">D016</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in result %}
                            <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td class = "showMenu">{{i[2]}}</td>
                            <td class = "showMenu">{{i[3]}}</td>
                            <td class = "showMenu">{{i[4]}}</td>
                            <td class = "showMenu">{{i[5]}}</td>
                            <td>{{i[6]}}</td>
                            <td class = "showMenu">{{i[7]}}</td>
                            <td class = "showMenu">{{i[8]}}</td>
                            <td class = "showMenu">{{i[9]}}</td>
                            <td class = "showMenu">{{i[10]}}</td>
                            <td class = "showMenu">{{i[11]}}</td>
                            <td class = "showMenu">{{i[12]}}</td>
                            <td class = "showMenu">{{i[13]}}</td>
                            <td class = "showMenu">{{i[14]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                   </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
