<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
    <script>
        $(document).ready(function () {
            $('#foo-table').DataTable({
             "pageLength":20,
             "destroy":true,
             "order":[2,'desc'],
                initComplete: function () {
                this.api()
                .columns('.showMenu')
                .every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                     column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                             select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
        });
        });
    </script>
</head>
<body>
    <div id="commonTopHeader">
        <div id="mainTopLogo">
            <a href="">
                <img src="" alt=""/>
            </a>
        </div>

        <div id="mainInfo">
            <form type="button" data-keyword="LOGOUT" onClick="location.href='../logout'">
                <object src="/static/images/logout.svg" type="images/svg+xml">
					<img src="/static/images/logout.svg" alt="logout"/>
				</object>
            </form>
        </div>
    </div>

    <div id="commonBodyContents">
        <div id="commonSideMenu">
            <div class="sideMenu" id="sideMenu">
                <ul id="business">
                    <li>
                        <a href="/static">
                            <!-- <img src="../images/common/commonMenu/mainHomeIcon.png" id="mainHomeIcon" /> -->
                            {%  if session["userName"] %}
                            <div>
                                <object src="/static/images/profileWoman.svg" type="images/svg+xml">
                                    <img src="/static/images/profileWoman.svg" alt="profileWoman"/>
                                </object>
                                {{ session["userName"]}}
                            </div>
                            {%  endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/business/notice">
                            <!-- <img src="../images/common/commonMenu/mainNoticeIcon.png" id="mainNoticeIcon" /> -->
                            <span>메뉴</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <!-- <img src="../images/common/commonMenu/mainSchedIcon.png" id="mainSchedIcon" /> -->
                            <span>메뉴</span>
                            <span id="slideSpan">+</span>
                        </a>
                        <ul id="panel">
                            <li><a href="/business/schedule">하위메뉴</a></li>
                            <li><a href="/business/workreport">하위메뉴</a></li>
                            <li><a href="/business/workjournal">하위메뉴</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
                <div class="topSearchWrap">
                    <div>
                        <form class="search">
                            <div class="DateFrom">시작일</div>
                            <input type="date">
                            <input type="submit" value="date">
                        </form>
                        <form class="search">
                            <div class="DateTo">마감일</div>
                            <input type="date">
                            <input type="submit" value="date">
                        </form>
                    </div>

                    <div>
                        <div class="mainTopMenu" id="mainTopMenu">
                            <ul>
                                <li><button type="button" data-keyword="OneHundred" onClick="location.href='../logman'" class="checked">셀렉트검색</button></li>
                                <li><button type="button" data-keyword="OneThous" onClick="location.href='../stlogman'">텍스트검색</button></li>
                                <li><button type="button" data-keyword="TenThous" onClick="location.href='../alllogman'">장기간검색</button></li>
                                <!-- <li><button type="button" data-keyword="LOGOUT" onClick="location.href='../logout'">로그아웃</button></li> -->
                            </ul>
                        </div>
                        <form class="search">
                            <input type="search">
                            <input type="submit" value="search">
                        </form>
                    </div>
                </div>

                <div>
                   <table id="foo-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                            <td>D001</td>
                            <td>D002</td>
                            <td class = "showMenu">D003</td>
                            <td class = "showMenu">D004</td>
                            <td class = "showMenu">D005</td>
                            <td class = "showMenu">D006</td>
                            <td>D007</td>
                            <td class = "showMenu">D008</td>
                            <td class = "showMenu">D009</td>
                            <td class = "showMenu">D010</td>
                            <td class = "showMenu">D012</td>
                            <td class = "showMenu">D013</td>
                            <td class = "showMenu">D014</td>
                            <td class = "showMenu">D015</td>
                            <td class = "showMenu">D016</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in result %}
                            <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td class = "showMenu">{{i[2]}}</td>
                            <td class = "showMenu">{{i[3]}}</td>
                            <td class = "showMenu">{{i[4]}}</td>
                            <td class = "showMenu">{{i[5]}}</td>
                            <td>{{i[6]}}</td>
                            <td class = "showMenu">{{i[7]}}</td>
                            <td class = "showMenu">{{i[8]}}</td>
                            <td class = "showMenu">{{i[9]}}</td>
                            <td class = "showMenu">{{i[10]}}</td>
                            <td class = "showMenu">{{i[11]}}</td>
                            <td class = "showMenu">{{i[12]}}</td>
                            <td class = "showMenu">{{i[13]}}</td>
                            <td class = "showMenu">{{i[14]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot>
                   </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
