<div class="topSearchWrap">
    <div>
        <form class="search">
            <div class="DateFrom">시작일</div>
            <input type="date">
        </form>
        <form class="search">
            <!-- <div class="DateTo">시작시간</div> -->
            <input type="time">
        </form>
        <form class="search">
            <div class="DateTo">마감일</div>
            <input type="date">
        </form>
        <form class="search">
            <!-- <div class="DateTo">마감시간</div> -->
            <input type="time">
        </form>
    </div>

    <div>
        <!-- <div class="comSearch">
            <ul>
                <li><button type="button" data-keyword="OneHundred" onClick="location.href='../logman'" class="checked">셀렉트검색</button></li>
                <li><button type="button" data-keyword="OneThous" onClick="location.href='../stlogman'">텍스트검색</button></li>
                <li><button class="checked" type="button" data-keyword="TenThous" onClick="location.href='../alllogman'">장기간검색</button></li>
                <li><button type="button" data-keyword="LOGOUT" onClick="location.href='../logout'">로그아웃</button></li>
            </ul>
        </div> -->
        <form class="search">
            <input type="search">
            <input type="submit" value="search">
        </form>
    </div>
</div>