        <div id="commonSideMenu">
            <div class="sideMenu" id="sideMenu">
                <ul id="business">
                    <li>
                        <a href="/logman">
                            <!-- <img src="../images/common/commonMenu/mainHomeIcon.png" id="mainHomeIcon" /> -->
                            {%  if session["userName"] %}
                            <span>{{ session["userName"]}}으로 로그인중</span>
                            {%  endif %}
                        </a>
                    </li>
                    <li>
                        <ul id="panel">
                            <li><a href="/subm/mnu001">CPU</a></li>
                            <li><a href="/subm/mnu002">DISK</a></li>
                            <li><a href="/subm/mnu003">NETWORK</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
